.app {
  min-width: 600px;
}
.gameBox {
  display: flex;
  justify-content: center;
}
.grid-box {
  background-color: red;
}

.btn {
  text-align: center;
  margin-bottom: 20px;
}
.btn button {
  background-color: red;
  padding: 10px;
  box-shadow: 0 0 5px white;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.btn button + button {
  margin-left: 10px;
}
.btn button:hover {
  box-shadow: 0 0 0 black;
}
